<div class="part mdl-card mdl-shadow--2dp">
	<div class="mdl-card__supporting-text card">
		{{#each mons}}
		<div class="mon">
			<label for="{{number}}">
				<span class="visually-hidden">Pokemon number {{number}}</span>
				<picture>
					<source srcset="img/{{number}}.webp, img/{{number}}@2x.webp 2x">
					<source srcset="img/{{number}}.png, img/{{number}}@2x.png 2x">
					<img height="50" alt="{{number}}" src="img/{{number}}.png" srcset="img/{{number}}@2x.png 2x">
				</picture>
			</label>
			<br>
			<input type="checkbox" id="{{number}}" name="mons" value="{{number}}" {{checked}} data-mons="true">
		</div>
		{{/each}}
	</div>
	<div class="mdl-card__supporting-text slider">
		<label for="radius">How far are you willing to run?</label> <b><span id="metres">{{radius}}m</span></b>
		<input id="radius" class="mdl-slider mdl-js-slider" type="range" min="100" max="2500" value="{{radius}}" step="100" tabind slider mdl-js-slider">
	</div>
</div>