<!doctype html>
<html lang="en">

<head>
	<link rel="stylesheet" href="./lib/material.min.css">
	<link rel="manifest" href="/manifest.json">
	<title>Pokémon Radar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#3f51b5">
	<script>
	   /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
		!function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
	</script>
	<style type="text/css">
		.mon {
			display: inline-block;
			text-align: center;
			margin: 0 1vw 3vh;
		}
		div.part {
			width: 90vw;
			text-align: center;
			min-height: 150px;
			margin: 20px auto;
		}
		.visually-hidden {
			position: absolute;
			text-indent: -9999px;
		}
		.uuid {
			font-size: 10px;
		}
		.header {
		    padding: 0 6vw 0 6vw;
		}
	</style>
	<script>
		loadCSS('/css/below-the-fold.css');
	</script>
</head>
<body>
	{{{body}}}
	<script defer="true" async="true" type="text/javascript" src="./lib/uuid-v4.js"></script>
	<script defer="true" async="true" type="text/javascript" src="./lib/js.cookie.js"></script>
	<script defer="true" async="true" type="text/javascript" src="dialog.js"></script>
	<script defer="true" async="true" type="text/javascript" src="geo.js"></script>
	<script defer="true" async="true" type="text/javascript" src="client.js"></script>
	<script defer="true" async="true" type="text/javascript" src="push.js"></script>
	<script defer="true" async="true" src="./lib/material.min.js"></script>
</body>
</html>