<!doctype html>
<html lang="en-GB">
<head>
	<link rel="stylesheet" href="./lib/material.min.css">
	<link rel="manifest" href="/manifest.json">
	<title>Pokémon Radar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#3f51b5">
	<style type="text/css">
		.mon{display:inline-block;text-align:center;margin:0 1vw 3vh}div.part{width:90vw;text-align:center;min-height:150px;margin:20px auto}.visually-hidden{position:absolute;text-indent:-9999px}.uuid{font-size:10px;font-weight:200;margin-top:2px}.header{padding:0 6vw}div.part.submit-card{min-height:0}
	</style>
</head>
<body>
	{{{body}}}
	<script defer="true" async="true" type="text/javascript" src="./lib/uuid-v4.js"></script>
	<script defer="true" async="true" type="text/javascript" src="./lib/js.cookie.js"></script>
	<script defer="true" async="true" type="text/javascript" src="submit-logic.js"></script>
	<script defer="true" async="true" type="text/javascript" src="dialog.js"></script>
	<script defer="true" async="true" type="text/javascript" src="push.js"></script>
	<script defer="true" async="true" type="text/javascript" src="geo.js"></script>
	<script defer="true" async="true" type="text/javascript" src="client.js"></script>
	<script defer="true" async="true" src="./lib/material.min.js"></script>
</body>
</html>