.mon {
	display: inline-block;
	text-align: center;
	margin: 0 1vw 3vh;
}

div.part {
	width: 90vw;
	text-align: center;
	min-height: 150px;
	margin: 20px auto;
}

div.part.submit-card {
	min-height: 0;
}