.mon {
	display: flex;
	/*outline: 1px solid;*/
	margin: -3px;
}
.mon-img {
	display: inline-block;
	/*outline: 1px solid blue;*/
	margin-right: -20px;
}
.mon-img-source {
	/*outline: 1px solid red;*/
}
.mon-radius {
	/*outline: 1px solid green;*/
	flex-grow: 1;
}
.mon-radius-slider {
	/*outline: 1px solid purple;*/
}
.mon-radius-number {
	/*outline: 1px solid magenta;*/
	padding: 12px 0 0 26px;
    line-height: 0.6em;
}
.slider-all {
	text-align: center;

}
div.part {
	width: 90vw;
	min-height: 150px;
	margin: 20px auto;
}
.visually-hidden {
	position: absolute;
	text-indent: -9999px;
}
.uuid {
	font-size: 10px;
	font-weight: 200;
	margin-top: 2px;
}
.header {
	padding: 0 6vw;
}
div.part.submit-card {
	min-height: 0;
}
.card {
    margin: auto;
}